
{# templates/article/email.html.twig #}

<h3>You did it! You added an article!</h3>

Hi! You successfully added an article with the title: <em> {{ title }}</em>.

You can access it <a href="{{ absolute_url('/article/') ~ id }}">HERE</a>


Thanks!

